.split-report-section {
  border-bottom: 1px solid $gray-darker;

  .report-block-container {
    max-height: 500px;
    overflow: auto;
  }

  .space-children,
  .space-children > span {
    display: flex;
    align-self: center;
  }

  .media {
    align-items: center;
  }

  .code-text {
    width: 100%;
  }
}

.mr-widget-grouped-section {
  .report-block-container {
    max-height: 170px;
    overflow: auto;
  }

  .report-block-list-issue-parent {
    padding: $gl-padding-top $gl-padding;
    border-top: 1px solid $border-color;
  }

  .report-block-list-icon .loading-container {
    position: relative;
    left: -2px;
    // needed to make the next element align with the
    // elements below that have a svg with 16px width
    .fa-spinner {
      width: 16px;
    }
  }
}

.report-block-container {
  border-top: 1px solid $border-color;
  padding: $gl-padding-top;
  background-color: $gray-light;

  // Clean MR widget CSS
  line-height: 20px;
}

.report-block-list {
  list-style: none;
  padding: 0 1px;
  margin: 0;
}

.report-block-list-icon {
  display: flex;

  &.failed {
    color: $red-500;
  }

  &.success {
    color: $green-500;
  }

  &.neutral {
    color: $theme-gray-700;
  }

  .ci-status-icon {
    svg {
      width: 16px;
      height: 16px;
      top: 3px;
      left: -2px;
    }
  }
}

.report-block-list-issue {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
}

.report-block-list-issue-description {
  align-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  display: flex;
  align-self: center;
}

.report-block {
  .break-link {
    word-wrap: break-word;
    word-break: break-all;
  }

  .btn-help svg {
    top: 5px;
  }
}

.report-block-issue-code {
  width: $modal-lg - 70px;
}

.modal-security-report-dast {
  .modal-dialog {
    width: $modal-lg;
  }
  // TODO remove this when gl_modal support not rendering the footer
  .modal-footer {
    display: none;
  }
}
